<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Rocket.Q - Faça e responda perguntas e ajude pessoas.</title>
</head>

<body>
    <div id="home" class="content">
        <header>
            <a href="/"><img src="/img/assets/project-logo.svg" alt="Rocket.Q Logo"></a>
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <main>
            <div class="container">
                <%- include(`partials/${page}`)  %> 
            </div>
        </main>
    </div>
</body>
<script src="/js/main.js"></script>
</html>