<section class="noquestions">
  <img src="/img/assets/dialogue.svg" alt="Balão de diálogo vazio" />
  <h3>Nenhuma pergunta por aqui...</h3>
  <p>
    Faça sua primeira pergunta e envie o<br />
    código dessa sala para outras pessoas!
  </p>
</section>
